
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MCS Time Administration</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="/assets/bootstrap-4.2.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/mcsta.css">
  <link rel="stylesheet" media="print" href="/assets/css/print.css" />


</head>
<style>
/*  div {
    border:1px solid green;
  }
*/
  </style>

<body>
    <div class="container-fluid header">

        <div class="row">
      
          <div class="col-md-2" style="text-align:center">
            <a href="#"><img src="/assets/img/MCSIcon.png" style="height:50px" class="logo"></a>
            <h5 class="d-inline-block nova">MCS Time Sheet</h5>
          </div>
      
          <div class="col-md-8" style="text-align:center">
            <p>{{ today | date : 'fullDate' }}</p>
            <a href="#"><img src="/assets/img/home-icon-square.png" style="height:30px">
              <img src="/assets/img/" alt="">
            </a>
          </div>
      
          <div class="col-md-2" style="text-align:center">
            <div class="mb-3" *ngIf="user.username">{{ user.username }}</div>
      
            <button class="btn btn-sm btn-outline-primary"                           (click)="mySettings()">My Settings</button>
            <button class="btn btn-sm btn-outline-secondary ml-3"  *ngIf="user.is_staff"   (click)="goAdmin()">Admin</button>
            <button class="btn btn-sm btn-outline-warning ml-3"                       (click)="logOff()">Log Off</button>
          </div>
      
        </div>
      
      </div>
      
      
      
<div>
    <div class="card" style="margin:200px auto; width:400px; border:1px solid green;background-color:inherit" >
      <div class="card-header" style="text-align:center" >
        <img routerLink="home" src="assets/img/MCSIcon.png" alt="CS Icon" >
        <br>
        <span>Mount Carmel School Time Administration</span>
      </div>
      <div class="card-body">

        <form [formGroup] = "formdata" (ngSubmit) = "onSubmit(formdata.value)" >
          <input type = "text" class = "form-control" name = "username" placeholder = "username" 
            formControlName="username">
          <br/>
          
          <input type = "password" class = "form-control" name="password" 
            placeholder = "password" formControlName = "password">
          <br/>
          
          <input type = "submit" class = "form-control" value = "Log In">
    
        </form>
      
  

      </div>
    
   
    
    </div>
    

     
 
 

  </div>
  <script src="/assets/js/jquery-3.3.1.min.js" ></script>
  <script src="/assets/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
 
</body>
</html>